.root{
    -fx-background-color: #607D8B;
    -fx-font-family: Gabriola;
}
#listview{
    -fx-background-color: #ff7f50;
    -fx-font-family: Gabriola;
}

#details{
    -fx-background-color: #7fffd4;
    -fx-font-family: Gabriola;
}

#image{
    -fx-background-color: #8fbc8f;
}